.u-section-1 .u-sheet-1 {
  min-height: 215px;
}

.u-section-1 .u-text-1 {
  margin: 77px 0 0;
}.u-section-2 .u-sheet-1 {
  min-height: 520px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 540px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-text-1 {
  font-size: 1.25rem;
  margin: 0 66px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 540px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-2 .u-image-1 {
  width: 403px;
  height: 490px;
  margin: 30px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 429px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 445px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 445px;
  }

  .u-section-2 .u-image-1 {
    width: 379px;
    height: 460px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 329px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 341px;
  }

  .u-section-2 .u-image-1 {
    width: 300px;
    height: 407px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 988px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 494px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 622px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 311px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 52px;
}

.u-section-3 .u-text-1 {
  margin-bottom: 0;
  font-size: 1.25rem;
  margin-right: auto;
  margin-left: 0;
  font-style: italic;
}.u-section-4 .u-sheet-1 {
  min-height: 404px;
}

.u-section-4 .u-text-1 {
  margin: 60px 0;
}.u-section-5 .u-sheet-1 {
  min-height: 128px;
}

.u-section-5 .u-text-1 {
  margin: 2px 0;
}.u-section-6 .u-sheet-1 {
  min-height: 740px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 70px 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 780px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-6 .u-image-1 {
  height: 441px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 38px auto 0 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-6 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 343px;
  background-image: none;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-6 .u-text-4 {
  line-height: 1.4;
  font-style: italic;
  margin: 0 auto 0 0;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 438px;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px 21px;
}

.u-section-6 .u-text-5 {
  margin: 0 auto 0 39px;
}

.u-section-6 .u-text-6 {
  margin: 20px 49px 0 39px;
}

.u-section-6 .u-btn-1 {
  border-style: solid;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: none;
  font-size: 1rem;
  margin: 20px 39px 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 614px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 643px;
  }

  .u-section-6 .u-image-1 {
    height: 343px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 283px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 361px;
  }

  .u-section-6 .u-text-6 {
    margin-right: 0;
  }

  .u-section-6 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 222px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-image-1 {
    height: 294px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 322px;
  }

  .u-section-6 .u-image-1 {
    height: 510px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 265px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-image-1 {
    height: 340px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
  }
} .u-section-7 {
  background-image: url("images/220724200600.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-sheet-1 {
  min-height: 500px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 412px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 316px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 237px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 149px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 500px;
  margin-bottom: 0;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 18px;
  margin-bottom: 0;
  position: relative;
}

.u-section-8 .u-image-1 {
  min-height: 400px;
  background-image: url("images/20724201434.jpg");
  background-position: 50% 50%;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-8 .u-container-layout-2 {
  padding: 10px 30px;
}

.u-section-8 .u-image-2 {
  width: 383px;
  height: 360px;
  margin: 20px 60px -20px auto;
}

.u-section-8 .u-text-1 {
  font-size: 1.25rem;
  font-style: italic;
  margin: 18px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-8 .u-image-1 {
    min-height: 330px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-8 .u-image-2 {
    height: 361px;
    margin-right: 28px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-8 .u-image-1 {
    min-height: 253px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 253px;
  }

  .u-section-8 .u-image-2 {
    width: 300px;
    height: 283px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 860px;
  }

  .u-section-8 .u-image-1 {
    min-height: 380px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 380px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 578px;
  }

  .u-section-8 .u-image-1 {
    min-height: 239px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 239px;
  }
}