 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/20725134052.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 294px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 114px auto 0;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 20px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 242px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 185px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 139px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 88px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 46px;
}

.u-section-2 .u-text-1 {
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 300;
  margin-right: 0;
  margin-left: auto;
  font-style: italic;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}.u-section-3 .u-sheet-1 {
  min-height: 576px;
}

.u-section-3 .u-text-1 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 61px 0 0;
} .u-section-4 {
  min-height: 576px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 960px;
  margin: 9px auto 20px;
}

.u-section-4 .u-image-1 {
  min-height: 547px;
  background-image: url("images/02207231754341.png");
  background-position: 50% 0%;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-4 .u-image-2 {
  min-height: 366px;
  background-image: url("images/202207231759231.png");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-4 .u-image-3 {
  min-height: 181px;
  background-image: url("images/202207231759239.png");
  background-position: 50% 25.4%;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 215px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-4 .u-image-1 {
    min-height: 536px;
  }

  .u-section-4 .u-image-2 {
    min-height: 358px;
  }

  .u-section-4 .u-image-3 {
    min-height: 178px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-image-1 {
    min-height: 821px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-image-2 {
    min-height: 548px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-image-3 {
    min-height: 273px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-image-1 {
    min-height: 616px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    min-height: 411px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-3 {
    min-height: 416px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-image-1 {
    min-height: 388px;
  }

  .u-section-4 .u-image-2 {
    min-height: 259px;
  }

  .u-section-4 .u-image-3 {
    min-height: 262px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 226px;
}

.u-section-5 .u-text-1 {
  margin: 0;
}.u-section-6 .u-sheet-1 {
  min-height: 915px;
}

.u-section-6 .u-text-1 {
  margin: 61px 0 0;
}

.u-section-6 .u-layout-wrap-1 {
  width: 994px;
  margin: 20px auto 13px;
}

.u-section-6 .u-image-1 {
  min-height: 536px;
  background-image: url("images/202207231759235.png");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-image-2 {
  min-height: 536px;
  background-image: url("images/202207231759236.png");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-image-3 {
  min-height: 536px;
  background-image: url("images/202207231759238.png");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-6 .u-image-1 {
    min-height: 507px;
  }

  .u-section-6 .u-image-2 {
    min-height: 507px;
  }

  .u-section-6 .u-image-3 {
    min-height: 507px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 818px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-6 .u-image-1 {
    min-height: 388px;
  }

  .u-section-6 .u-image-2 {
    min-height: 388px;
  }

  .u-section-6 .u-image-3 {
    min-height: 388px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2117px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-6 .u-image-1 {
    min-height: 873px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-2 {
    min-height: 873px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-3 {
    min-height: 873px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1499px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-6 .u-image-1 {
    min-height: 550px;
  }

  .u-section-6 .u-image-2 {
    min-height: 550px;
  }

  .u-section-6 .u-image-3 {
    min-height: 550px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 52px;
}

.u-section-7 .u-text-1 {
  margin: 0;
}

@media (max-width: 767px) {
  .u-section-7 .u-text-1 {
    margin-bottom: 60px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 545px;
}

.u-section-8 .u-text-1 {
  margin: 60px 0 0;
}.u-section-9 .u-sheet-1 {
  min-height: 223px;
}

.u-section-9 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 222px;
}

.u-section-9 .u-container-layout-1 {
  padding: 18px 0 6px;
}

.u-section-9 .u-image-1 {
  width: 411px;
  height: 184px;
  margin: 14px 0 0 auto;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 222px;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px 30px 26px;
}

.u-section-9 .u-image-2 {
  width: 255px;
  height: 166px;
  margin: 0 auto 0 51px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 391px;
  }

  .u-section-9 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 183px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 183px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 314px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 140px;
  }

  .u-section-9 .u-image-1 {
    width: 360px;
    height: 161px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 140px;
  }

  .u-section-9 .u-image-2 {
    margin-left: 45px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 821px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 210px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 210px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 539px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 132px;
  }

  .u-section-9 .u-image-1 {
    width: 340px;
    height: 152px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 132px;
  }
} .u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 167px;
}

.u-section-10 .u-text-1 {
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 51px 0 24px;
} .u-section-11 {
  background-image: none;
}

.u-section-11 .u-sheet-1 {
  min-height: 444px;
}

.u-section-11 .u-layout-wrap-1 {
  width: 1044px;
  margin: 50px auto 30px;
}

.u-section-11 .u-image-1 {
  min-height: 374px;
  background-image: url("images/CertificatesofAwards04.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-11 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-11 .u-layout-cell-2 {
  min-height: 374px;
}

.u-section-11 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-11 .u-text-1 {
  font-weight: 500;
  font-size: 1.875rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 81px auto 0;
}

.u-section-11 .u-text-2 {
  font-style: italic;
  font-weight: 700;
  --animation-custom_in-scale: 1;
  margin: 31px 0 0;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-11 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-11 .u-image-1 {
    min-height: 337px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 337px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-11 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-11 .u-image-1 {
    min-height: 258px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-11 .u-image-1 {
    min-height: 387px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-11 .u-image-1 {
    min-height: 244px;
  }

  .u-section-11 .u-text-1 {
    font-size: 1.5rem;
  }
} .u-section-12 {
  background-image: none;
}

.u-section-12 .u-sheet-1 {
  min-height: 182px;
}

.u-section-12 .u-text-1 {
  margin: auto 0 0;
}

@media (max-width: 767px) {
  .u-section-12 .u-text-1 {
    margin-top: 60px;
    margin-bottom: 60px;
  }
} .u-section-13 {
  background-image: none;
}

.u-section-13 .u-sheet-1 {
  min-height: 906px;
}

.u-section-13 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-13 .u-layout-cell-1 {
  min-height: 439px;
}

.u-section-13 .u-container-layout-1 {
  padding: 5px 0;
}

.u-section-13 .u-text-1 {
  font-size: 1.25rem;
  margin: 0 26px 0 0;
}

.u-section-13 .u-image-1 {
  min-height: 439px;
  background-image: url("images/202207231759233.png");
  background-position: 50% 50%;
}

.u-section-13 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-13 .u-text-2 {
  font-size: 1.25rem;
  margin: 0;
}

.u-section-13 .u-image-2 {
  height: 584px;
  margin-top: 30px;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

@media (max-width: 1199px) {
  .u-section-13 .u-sheet-1 {
    min-height: 538px;
  }

  .u-section-13 .u-layout-cell-1 {
    min-height: 362px;
  }

  .u-section-13 .u-text-1 {
    margin-right: 0;
  }

  .u-section-13 .u-image-1 {
    min-height: 362px;
  }

  .u-section-13 .u-text-2 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-13 .u-sheet-1 {
    min-height: 453px;
  }

  .u-section-13 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-13 .u-image-1 {
    min-height: 277px;
  }

  .u-section-13 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-sheet-1 {
    min-height: 676px;
  }

  .u-section-13 .u-image-1 {
    min-height: 416px;
  }

  .u-section-13 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-sheet-1 {
    min-height: 829px;
  }

  .u-section-13 .u-image-1 {
    min-height: 262px;
  }
}.u-section-14 .u-sheet-1 {
  min-height: 747px;
}

.u-section-14 .u-text-1 {
  margin: 0;
}

.u-section-14 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-14 .u-image-1 {
  min-height: 448px;
  background-image: url("images/202207231759235.jpg");
  background-position: 50% 50%;
}

.u-section-14 .u-container-layout-1 {
  padding: 30px;
}

.u-section-14 .u-layout-cell-2 {
  min-height: 448px;
}

.u-section-14 .u-container-layout-2 {
  padding: 0;
}

.u-section-14 .u-text-2 {
  font-size: 1.25rem;
  margin: 0 0 0 30px;
}

@media (max-width: 1199px) {
  .u-section-14 .u-sheet-1 {
    min-height: 599px;
  }

  .u-section-14 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-14 .u-image-1 {
    min-height: 369px;
  }

  .u-section-14 .u-layout-cell-2 {
    min-height: 369px;
  }

  .u-section-14 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-14 .u-sheet-1 {
    min-height: 522px;
  }

  .u-section-14 .u-image-1 {
    min-height: 283px;
  }

  .u-section-14 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-14 .u-sheet-1 {
    min-height: 1029px;
  }

  .u-section-14 .u-image-1 {
    min-height: 425px;
  }

  .u-section-14 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-14 .u-sheet-1 {
    min-height: 747px;
  }

  .u-section-14 .u-image-1 {
    min-height: 268px;
  }
}.u-section-15 .u-sheet-1 {
  min-height: 404px;
}

.u-section-15 .u-text-1 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 60px 0;
}